section.repository-list {
    margin: 40px;

    h1 {
        margin-bottom: 16px;
    }

    ul {
        list-style: none;
    }
    li {
        & + li {  //isso é um hackezinho para não afetar a primeira li e só afetar as li que são antecedidas por li. O simbolo de & serve para referenciar o próprio elemento (no caso o li) no scss
            margin-top: 20px;
        }

        p {
            font-size: 14px;
            color: #444;
            margin-top: 8px;
        }

        a{
            display: inline-block;
            margin-top: 16px;
            text-decoration: none;
            color: #8257e6
        }
    }
}